#icons,
body {
    color: #fff
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    text-align: center;
    font-size: 18px;
    background-color: #403f3f
}

.box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    -ms-grid-rows: 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px 10px 90px;
    grid-template-rows: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-gap: 10px;
    margin: 100px 150px;
    background-color: #000;
    padding: 20px 40px;
    height: 430px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 10px gray;
    box-shadow: 0 0 10px 10px gray
}

.box>:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1
}

.box>:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3
}

.box>:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5
}

.box>:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7
}

.box>:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 9
}

.box>:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 11
}

.box>:nth-child(7) {
    -ms-grid-row: 1;
    -ms-grid-column: 13
}

.box>:nth-child(8) {
    -ms-grid-row: 1;
    -ms-grid-column: 15
}

.box>:nth-child(9) {
    -ms-grid-row: 1;
    -ms-grid-column: 17
}

.box>:nth-child(10) {
    -ms-grid-row: 1;
    -ms-grid-column: 19
}

.box>:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 1
}

.box>:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 3
}

.box>:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 5
}

.box>:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 7
}

.box>:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 9
}

.box>:nth-child(16) {
    -ms-grid-row: 3;
    -ms-grid-column: 11
}

.box>:nth-child(17) {
    -ms-grid-row: 3;
    -ms-grid-column: 13
}

.box>:nth-child(18) {
    -ms-grid-row: 3;
    -ms-grid-column: 15
}

.box>:nth-child(19) {
    -ms-grid-row: 3;
    -ms-grid-column: 17
}

.box>:nth-child(20) {
    -ms-grid-row: 3;
    -ms-grid-column: 19
}

.box>:nth-child(21) {
    -ms-grid-row: 5;
    -ms-grid-column: 1
}

.box>:nth-child(22) {
    -ms-grid-row: 5;
    -ms-grid-column: 3
}

.box>:nth-child(23) {
    -ms-grid-row: 5;
    -ms-grid-column: 5
}

.box>:nth-child(24) {
    -ms-grid-row: 5;
    -ms-grid-column: 7
}

.box>:nth-child(25) {
    -ms-grid-row: 5;
    -ms-grid-column: 9
}

.box>:nth-child(26) {
    -ms-grid-row: 5;
    -ms-grid-column: 11
}

.box>:nth-child(27) {
    -ms-grid-row: 5;
    -ms-grid-column: 13
}

.box>:nth-child(28) {
    -ms-grid-row: 5;
    -ms-grid-column: 15
}

.box>:nth-child(29) {
    -ms-grid-row: 5;
    -ms-grid-column: 17
}

.box>:nth-child(30) {
    -ms-grid-row: 5;
    -ms-grid-column: 19
}

.box>:nth-child(31) {
    -ms-grid-row: 7;
    -ms-grid-column: 1
}

.box>:nth-child(32) {
    -ms-grid-row: 7;
    -ms-grid-column: 3
}

.box>:nth-child(33) {
    -ms-grid-row: 7;
    -ms-grid-column: 5
}

.box>:nth-child(34) {
    -ms-grid-row: 7;
    -ms-grid-column: 7
}

.box>:nth-child(35) {
    -ms-grid-row: 7;
    -ms-grid-column: 9
}

.box>:nth-child(36) {
    -ms-grid-row: 7;
    -ms-grid-column: 11
}

.box>:nth-child(37) {
    -ms-grid-row: 7;
    -ms-grid-column: 13
}

.box>:nth-child(38) {
    -ms-grid-row: 7;
    -ms-grid-column: 15
}

.box>:nth-child(39) {
    -ms-grid-row: 7;
    -ms-grid-column: 17
}

.box>:nth-child(40) {
    -ms-grid-row: 7;
    -ms-grid-column: 19
}

.box>:nth-child(41) {
    -ms-grid-row: 9;
    -ms-grid-column: 1
}

.box>:nth-child(42) {
    -ms-grid-row: 9;
    -ms-grid-column: 3
}

.box>:nth-child(43) {
    -ms-grid-row: 9;
    -ms-grid-column: 5
}

.box>:nth-child(44) {
    -ms-grid-row: 9;
    -ms-grid-column: 7
}

.box>:nth-child(45) {
    -ms-grid-row: 9;
    -ms-grid-column: 9
}

.box>:nth-child(46) {
    -ms-grid-row: 9;
    -ms-grid-column: 11
}

.box>:nth-child(47) {
    -ms-grid-row: 9;
    -ms-grid-column: 13
}

.box>:nth-child(48) {
    -ms-grid-row: 9;
    -ms-grid-column: 15
}

.box>:nth-child(49) {
    -ms-grid-row: 9;
    -ms-grid-column: 17
}

.box>:nth-child(50) {
    -ms-grid-row: 9;
    -ms-grid-column: 19
}

.box>:nth-child(51) {
    -ms-grid-row: 11;
    -ms-grid-column: 1
}

.box>:nth-child(52) {
    -ms-grid-row: 11;
    -ms-grid-column: 3
}

.box>:nth-child(53) {
    -ms-grid-row: 11;
    -ms-grid-column: 5
}

.box>:nth-child(54) {
    -ms-grid-row: 11;
    -ms-grid-column: 7
}

.box>:nth-child(55) {
    -ms-grid-row: 11;
    -ms-grid-column: 9
}

.box>:nth-child(56) {
    -ms-grid-row: 11;
    -ms-grid-column: 11
}

.box>:nth-child(57) {
    -ms-grid-row: 11;
    -ms-grid-column: 13
}

.box>:nth-child(58) {
    -ms-grid-row: 11;
    -ms-grid-column: 15
}

.box>:nth-child(59) {
    -ms-grid-row: 11;
    -ms-grid-column: 17
}

.box>:nth-child(60) {
    -ms-grid-row: 11;
    -ms-grid-column: 19
}

.box>:nth-child(61) {
    -ms-grid-row: 13;
    -ms-grid-column: 1
}

.box>:nth-child(62) {
    -ms-grid-row: 13;
    -ms-grid-column: 3
}

.box>:nth-child(63) {
    -ms-grid-row: 13;
    -ms-grid-column: 5
}

.box>:nth-child(64) {
    -ms-grid-row: 13;
    -ms-grid-column: 7
}

.box>:nth-child(65) {
    -ms-grid-row: 13;
    -ms-grid-column: 9
}

.box>:nth-child(66) {
    -ms-grid-row: 13;
    -ms-grid-column: 11
}

.box>:nth-child(67) {
    -ms-grid-row: 13;
    -ms-grid-column: 13
}

.box>:nth-child(68) {
    -ms-grid-row: 13;
    -ms-grid-column: 15
}

.box>:nth-child(69) {
    -ms-grid-row: 13;
    -ms-grid-column: 17
}

.box>:nth-child(70) {
    -ms-grid-row: 13;
    -ms-grid-column: 19
}

.box>:nth-child(71) {
    -ms-grid-row: 15;
    -ms-grid-column: 1
}

.box>:nth-child(72) {
    -ms-grid-row: 15;
    -ms-grid-column: 3
}

.box>:nth-child(73) {
    -ms-grid-row: 15;
    -ms-grid-column: 5
}

.box>:nth-child(74) {
    -ms-grid-row: 15;
    -ms-grid-column: 7
}

.box>:nth-child(75) {
    -ms-grid-row: 15;
    -ms-grid-column: 9
}

.box>:nth-child(76) {
    -ms-grid-row: 15;
    -ms-grid-column: 11
}

.box>:nth-child(77) {
    -ms-grid-row: 15;
    -ms-grid-column: 13
}

.box>:nth-child(78) {
    -ms-grid-row: 15;
    -ms-grid-column: 15
}

.box>:nth-child(79) {
    -ms-grid-row: 15;
    -ms-grid-column: 17
}

.box>:nth-child(80) {
    -ms-grid-row: 15;
    -ms-grid-column: 19
}

.box>:nth-child(81) {
    -ms-grid-row: 17;
    -ms-grid-column: 1
}

.box>:nth-child(82) {
    -ms-grid-row: 17;
    -ms-grid-column: 3
}

.box>:nth-child(83) {
    -ms-grid-row: 17;
    -ms-grid-column: 5
}

.box>:nth-child(84) {
    -ms-grid-row: 17;
    -ms-grid-column: 7
}

.box>:nth-child(85) {
    -ms-grid-row: 17;
    -ms-grid-column: 9
}

.box>:nth-child(86) {
    -ms-grid-row: 17;
    -ms-grid-column: 11
}

.box>:nth-child(87) {
    -ms-grid-row: 17;
    -ms-grid-column: 13
}

.box>:nth-child(88) {
    -ms-grid-row: 17;
    -ms-grid-column: 15
}

.box>:nth-child(89) {
    -ms-grid-row: 17;
    -ms-grid-column: 17
}

.box>:nth-child(90) {
    -ms-grid-row: 17;
    -ms-grid-column: 19
}

.box>:nth-child(91) {
    -ms-grid-row: 19;
    -ms-grid-column: 1
}

.box>:nth-child(92) {
    -ms-grid-row: 19;
    -ms-grid-column: 3
}

.box>:nth-child(93) {
    -ms-grid-row: 19;
    -ms-grid-column: 5
}

.box>:nth-child(94) {
    -ms-grid-row: 19;
    -ms-grid-column: 7
}

.box>:nth-child(95) {
    -ms-grid-row: 19;
    -ms-grid-column: 9
}

.box>:nth-child(96) {
    -ms-grid-row: 19;
    -ms-grid-column: 11
}

.box>:nth-child(97) {
    -ms-grid-row: 19;
    -ms-grid-column: 13
}

.box>:nth-child(98) {
    -ms-grid-row: 19;
    -ms-grid-column: 15
}

.box>:nth-child(99) {
    -ms-grid-row: 19;
    -ms-grid-column: 17
}

.box>:nth-child(100) {
    -ms-grid-row: 19;
    -ms-grid-column: 19
}

.box>div {
    background-color: #484444;
    border-radius: 10px;
    padding: 33px 0
}

p {
    font-size: 12px;
    padding-top: 15px
}